.photoBox {
	border-radius: 50%;
	object-fit: cover;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	border: 1px solid white;
}

.photoBox--small {
	width: 40px;
	height: 40px;
}

.photoBox--medium {
	width: 100px;
	height: 100px;
}

.photoBox--large {
	width: 163px;
	height: 163px;
}
