@use '@styles/helpers' as *;

.portfolio {
	&__tabs {
		margin-bottom: 20px;
		display: flex;
		justify-content: flex-start;
		gap: 5px;
	}

	&__tab {
		@include reset-button;
		color: $color-text;
		font-size: $font-size-base;

		& + ::before {
			content: '/';
			font-weight: 600;
			padding-right: 5px;
			color: $color-text;
		}

		&--active {
			color: $color-primary;
		}

		@include hover {
			color: $color-primary;
			opacity: 0.7;
		}
	}
}
