$color-primary: #26c17e; // основной акцент (например, кнопки, ссылки)
$color-secondary: #222935; // вторичный акцент (иконки, лейблы, бордеры)
$color-background: #ffffff; // фон страницы
$color-dark: #000614;
$color-light: #ffffff;
$color-surface: #dddddd; // блоки, карточки
$color-gray: #eeeeee;
$color-text: $color-secondary; // основной текст
$color-muted: #667081; // вторичный текст
$color-border: #dddddd; // бордеры
$color-danger: rgb(241, 38, 38);

$font-main: 'Open Sans', sans-serif;
$font-size-base: 16px;
$font-size-sm: 14px;
$font-size-lg: 25px;

$border-radius: 5px;
$transition-default: 0.3s ease-in-out;
$box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

:root {
	--container-width: 1040px;
	--container-padding-x: 24px;
}
