    $color-primary: #26C17E;       // основной акцент (например, кнопки, ссылки)
    $color-secondary: #222935;     // вторичный акцент (иконки, лейблы, бордеры)
    $color-background: #FFFFFF;    // фон страницы
    $color-dark: #000614;   
    $color-light: #FFFFFF;    
    $color-surface: #DDDDDD;       // блоки, карточки
    $color-gray: #EEEEEE;       
    $color-text: $color-secondary;          // основной текст
    $color-muted: #667081;         // вторичный текст
    $color-border: #DDDDDD;        // бордеры

    $font-main: 'Open Sans', sans-serif;
    $font-size-base: 16px;
    $font-size-sm: 14px;
    $font-size-lg: 25px;

	$border-radius: 5px;
    $transition-default: 0.3s ease-in-out;
    $box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

:root {
  --container-width: 1040px;
  --container-padding-x: 24px;
}