@use '@styles/helpers' as *;

.timeline {
	display: flex;
	flex-direction: column;
	gap: 10px;
	list-style: none;
	height: 60vh;
	max-height: 80vh;
	overflow-y: auto;
	position: relative;

	scrollbar-width: thin;
	scrollbar-color: $color-gray transparent;

	&::-webkit-scrollbar {
		width: 6px;
	}

	&__item {
		display: flex;
		align-items: flex-start;
		gap: 25px;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			left: 19px;
			top: 0;
			bottom: -10px;
			width: 5px;
			background-color: $color-primary;
			z-index: 0;
		}

		&:last-child::before {
			display: none;
		}
	}

	&__left {
		position: relative;
		width: 40px;
		aspect-ratio: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $color-background;
		padding: 15px;
		z-index: 1;
	}

	&__date {
		font-weight: 700;
		font-size: $font-size-base;
	}

	&__card {
		position: relative;
		background-color: $color-gray;
		padding: 15px;
		flex: 1;

		&::before {
			content: '';
			width: 20px;
			height: 20px;
			background-color: $color-gray;
			position: absolute;

			left: -10px;
			rotate: 45deg;

			scale: 0.6;
		}
	}

	&__title {
		font-weight: 700;
		font-size: $font-size-base;
		margin-bottom: 5px;
	}

	&__text {
		font-size: $font-size-sm;
	}
}
