@use '@styles/helpers' as *;

.not-found {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: $color-secondary;

	&__content {
		text-align: center;
	}

	&__title {
		font-size: 2.5rem;
		margin-bottom: 1rem;
		text-transform: uppercase;
		color: $color-primary;
	}

	&__button {
		background-color: $color-primary;
		@include hover {
			background-color: $color-dark;
		}
	}
}
